---
title: Blog
---
<head>

    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0,minimum-scale=0.5, user-scalable=0,width=device-width">
    <meta name="description" content="blog or something.">
    <meta name="author" content="Pengalu">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.png" />

    <meta name="viewport" content="width=device-width" />



</head>
<body>

    <p>{{ page.date }} - Written by {{ page.author }}</p>

    {{ content }}


</body>
